<div class="header-img"></div>
<form action="/action_page.php" #myForm="ngForm" (ngSubmit)="add()" style="direction: rtl;">
    <div class="section first-section">
        <h2 class="title">מידע אישי לנעזר</h2>
        <div class="row prograph">
            <div class="col-6">
                <h6>מידע אישי</h6>
                <input class="form-control" placeholder="שם פרטי" type="text" #ngFirstName="ngModel"
                    [(ngModel)]="Assisted.Assisted.first_name" name="first_name" id="first_name" required pattern="" />
                <div class="error" *ngIf="ngFirstName.invalid&&(ngFirstName.touched||ngFirstName.dirty)">
                    <i *ngIf="ngFirstName.errors!.required">שדה חובה</i>
                    <i></i>
                </div>
                <input class="form-control" placeholder="תעודת זהות" type="text" #ngId="ngModel"
                    [(ngModel)]="Assisted.Assisted.id_assisted" name="id_assisted" id="id_assisted" required
                    pattern="[0-9]*" maxlength="9" />
                <div class="error" *ngIf="ngId.invalid&&(ngId.touched||ngId.dirty)">
                    <i *ngIf="ngId.errors!.required">שדה חובה</i>
                    <i *ngIf="ngId.errors!.pattern">שדה זה חייב להכיל מספרים בלבד</i>
                </div>
                <input class="form-control" placeholder="כתובת אימייל" type="email" #ngEmail="ngModel"
                    [(ngModel)]="Assisted.Assisted.e_mail" name="e_mail" id="e_mail" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                <div class="error" *ngIf="ngEmail.invalid&&(ngEmail.touched||ngEmail.dirty)">
                    <i *ngIf="ngEmail.errors!.required">שדה חובה</i>
                    <i *ngIf="ngEmail.errors!.pattern">אנא הזן כתובת מייל תקינה</i>
                </div>
                <!-- <input class="form-control" placeholder="טלפון נוסף "/> -->
                <input type="date" class="form-control" placeholder="תאריך לידה" type="date" #ngDate="ngModel"
                    [ngModel]="Assisted.Assisted.date_birth  | date:'yyyy-MM-dd'" (ngModelChange)="Assisted.Assisted.date_birth = $event" name="date_birth" id="date_birth" />
            </div>
            <div class="col-6 second-col">
                <input class="form-control" placeholder="שם משפחה" type="text" #ngLastName="ngModel"
                    [(ngModel)]="Assisted.Assisted.last_name" name="last_name" id="last_name" required pattern="" />
                <div class="error" *ngIf="ngLastName.invalid&&(ngLastName.touched||ngLastName.dirty)">
                    <i *ngIf="ngLastName.errors!.required">שדה חובה</i>
                </div>
                <select class="form-select form-control" placeholder="סטטוס" aria-label="Default select example" #ngList="ngModel"
                    [(ngModel)]="Assisted.Assisted.code_status" name="personalStatus" >
                    <option *ngFor="let item of list" value="{{item.code_status}}" >{{item.description}}</option>
                </select>
                <input class="form-control" placeholder="מספר טלפון" type="text" #ngPhone="ngModel"
                    [(ngModel)]="Assisted.Assisted.phone" name="phone" id="phone" required pattern="05?[0-9]-?[0-9]{7}"
                    maxlength="10" />
                <div class="error" *ngIf="ngPhone.invalid&&(ngPhone.touched||ngPhone.dirty)">
                    <i *ngIf="ngPhone.errors!.required">שדה חובה</i>
                    <i *ngIf="ngPhone.errors!.pattern">אנה הזן מספר פלאפון תקין</i>
                </div>
                <select class="form-select form-control" aria-label="Default select example" #ngList1="ngModel"
                    [(ngModel)]="Assisted.Assisted.code_gender" name="gender" required>
                    <option value="" disabled selected>מין</option>
                    <option *ngFor="let item of list1" value="{{item.code_gender}}">{{item.description}}</option>
                </select>
            </div>
        </div>
        <div class="row prograph">
            <div class="col-6">
                <h6>כתובת</h6>
                <select class="form-select form-control"  aria-label="Default select example" #ngList3="ngModel"
                    [(ngModel)]="Assisted.Assisted.code_city" name="city" required>
                    <option value="" disabled selected hidden>עיר</option>
                    <option *ngFor="let item of list3" value="{{item.code_city}}">{{item.name_city}}</option>
                </select>
                <!-- <input class="form-control" placeholder="עיר" type="text" #ngCity="ngModel" [(ngModel)]="Assisted.Assisted.code_city" name="code_city"/> -->
                <input class="form-control" placeholder="מספר בנין" type="number" #ngNumberBuild="ngModel"
                    [(ngModel)]="Assisted.Assisted.number_building" name="number_building" id="number_building" />
                <input class="form-control" placeholder="מספר בית" type="number" #ngNumberHouse="ngModel"
                    [(ngModel)]="Assisted.Assisted.number_house" name="number_house" id="number_house" />
            </div>
            <div class="col-6 second-col">
                <input class="form-control" placeholder=" רחוב" type="text" #ngStreet="ngModel"
                    [(ngModel)]="Assisted.Assisted.street" name="street" id="street" pattern="" />
                <input class="form-control" placeholder="קומה" type="text" #ngFloor="ngModel"
                    [(ngModel)]="Assisted.Assisted.number_floor" name="number_floor" id="number_floor" />
                <input class="form-control" placeholder="מיקוד" type="number" #ngPostalCode="ngModel"
                    [(ngModel)]="Assisted.Assisted.postal_code" name="postal_code" id="postal_code" />
            </div>
        </div>
        <div class="row prograph">
            <!-- <div class="col-6"> -->
                <h6>סיסמא ואימות</h6>
                <!-- <button type="button" class="form-control" routerLink="/volunteering-domain/true/{{this.mode}}">תחומי
                    התנדבות</button> -->
            <!-- </div> -->
            <div class="col-6 second-col">
                <input class="form-control" type="hide ? 'password' : 'text'" placeholder="סיסמא" #ngPassword="ngModel"
                    [(ngModel)]="Assisted.Assisted.password" name="password" id="password" required minlength="8"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}">
                <div class="error" *ngIf="ngPassword.invalid&&(ngPassword.touched||ngPassword.dirty)">
                    <i *ngIf="ngPassword.errors!.required">שדה חובה</i>
                    <i *ngIf="ngPassword.errors!.pattern"> סיסימא חייבת להכיל לפחות שמונה תווים המורכבים מאותיות אנגליות
                        קטנות וגדולות ומספרים</i>
                </div>
            </div>
            <div class="col-6 second-col">
                <input type="password" [(ngModel)]="password2" name="confirmpassword" id="confirmpassword"
                    placeholder="אימות סיסמא" class="form-control" required #confirmpassword="ngModel"
                    pattern="{{ ngPassword.value }}" />
                <div *ngIf=" confirmpassword.invalid && (confirmpassword.touched||confirmpassword.dirty)" class="error">
                    <i *ngIf="confirmpassword.errors!.required">שדה חובה</i>
                    <i *ngIf="confirmpassword.errors!.pattern">סיסמא ואימות סיסמא חייבים להתאים</i>
                </div>
            </div>
        </div>
        <!-- <div class="row prograph">
        <div class="col">
            <!- <h6 class="inline-title">סוג טלפון:</h6>
             <h6 class="inline-title">סוג טלפון:</h6>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="phone1" name="phone" class="custom-control-input" value="SMS">
                <label class="custom-control-label purple" for="phone1">SMS</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="phone2" name="phone" class="custom-control-input" value="WhatApp">
                <label class="custom-control-label purple" for="phone2">WhatApp</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="phone3" name="phone" class="custom-control-input" value="kosher">
                <label class="custom-control-label purple" for="phone3">כשר</label>
            </div> -->
        <!-- </div> -->
        <!-- </div>  -->
        <div class="row prograph">
            <h6 class="inline-title"> שפות:</h6>
            <div class="custom-control custom-checkbox" *ngFor="let item of Assisted.Assisted.languages" name="language">
                <input type="checkbox" value={{item.code_language}} id={{item.code_language}} name="{{item.name_language}}" class="custom-control-input" #ngList2="ngModel" [(ngModel)]="item.IsSelected">
                <label class="custom-control-label purple" for={{item.code_language}}  value="{{item.code_language}}">{{item.name_language}}</label>
            </div>
            <!-- <h6 class="inline-title"> שפות:</h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="lang1" name="lang" class="custom-control-input"  value="no">
                <label class="custom-control-label purple" for="lang1">עברית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang2 type="checkbox" id="lang2" name="lang" class="custom-control-input"  value="english">
                <label class="custom-control-label purple" for="lang2">אנגלית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang3 type="checkbox" id="lang3" name="lang" class="custom-control-input"  value="rusion">
                <label class="custom-control-label purple" for="lang3">רוסית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang4 type="checkbox" id="lang4" name="lang" class="custom-control-input"  value="spanish">
            <h6 class="inline-title"> שפות:</h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="lang1" name="lang" class="custom-control-input" >
                <label class="custom-control-label purple" for="lang1">עברית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang2 type="checkbox" id="lang2" name="lang" class="custom-control-input" >
                <label class="custom-control-label purple" for="lang2">אנגלית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang3 type="checkbox" id="lang3" name="lang" class="custom-control-input" >
                <label class="custom-control-label purple" for="lang3">רוסית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang4 type="checkbox" id="lang4" name="lang" class="custom-control-input" >
                <label class="custom-control-label purple" for="lang4">ספרדית</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input #lang4 type="checkbox" id="lang5" name="lang" class="custom-control-input" >
                <label class="custom-control-label purple" for="lang5">ערבית</label>
            </div> -->
            <!-- <div *ngif="!form.value">לפחות אחד צריך להיות מסומן</div> -->
        </div>   
        <div class="button-wapper">
            <button *ngIf="this.mode=='register'" type="submit" class="btn btn-dark btn-perple btn-lg" routerLink="/schedule">רישום</button>
            <button *ngIf="this.mode=='update'" type="submit" class="btn btn-dark btn-perple btn-lg" routerLink="/schedule"> עדכון</button>
            <!-- <button  (click)="" class="btn btn-dark btn-perple btn-lg"> שבץ אותי  </button> -->
        </div>
</div>
    <!-- <select class="form-select form-control" aria-label="Default select example"  #ngList4="ngModel" [(ngModel)]="Assisted.day.code_day" name="days">
        <option *ngFor="let item of list4" value="{{item.code_day}}">{{item.description}}</option>
    </select>
    <select class="form-select form-control" aria-label="Default select example"  #ngList8="ngModel" [(ngModel)]="Assisted.shift.code_shift" name="shifts">
        <option *ngFor="let item of list5" value="{{item.code_shift}}">{{item.description}}</option>
    </select> -->
    <!-- <div class="section1"> -->
    <!-- <h2 class="title"> זמינות</h2> -->
    <!-- <div class="col"> -->
    <!-- <select class="form-select form-control" aria-label="Default select example" #ngList4="ngModel"
                [(ngModel)]="Assisted.day.code_day" name="days">
                <option *ngFor="let item of list4" value="{{item.code_day}}">{{item.description}}</option>
            </select>
            <select class="form-select form-control" aria-label="Default select example" #ngList5="ngModel"
                [(ngModel)]="Assisted.shift.code_shift" name="shifts">
                <option *ngFor="let item of list5" value="{{item.code_shift}}">{{item.description}}</option>
            </select> -->
    <!-- </select> -->
    <!-- <div class="button-wapper"> -->
        <!-- <button *ngIf="this.mode=='register'" type="submit" class="btn btn-dark btn-perple btn-lg" routerLink="/asking">
            רישום</button>
        <button *ngIf="this.mode=='update'" type="submit" class="btn btn-dark btn-perple btn-lg"> עדכון
        </button> -->
        <!-- <button  (click)="" class="btn btn-dark btn-perple btn-lg"> שבץ אותי  </button> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
</form>