
<html>
<head>
<style>

</style>
</head>
<body>
    <!-- סגול בהיר רקע דף -->
    <div class="div1">
    <div>
        <!-- מלבן כתום לוגו -->
        <nav class="nav1" dir="rtl" > 
            <p class="we1">Logo</p>
            <!-- כפתורי ניתוב -->
            <button class="b1" dir="rtl" >logout</button>
            <button class="b2" dir="rtl" >Asisted</button>
            <button class="b3" dir="rtl" >Volunteer</button>
            <button class="b4" dir="rtl" >Volunteering</button>
        </nav>

    </div>
    <!-- תמונה -->
    <div class="div2"><img src="pic2.jpg"  width="1759" height="509"></div> 
   <!-- פס כתום דק -->
    <div class="div3"> 
        <!-- מלבן לבן עליון -->
        <div class="div4">
            <!-- כותרת -->
            <div class="vinfo"><p class="info1">volunteer personal information</p></div><br>
            <!-- תת כותרת -->
            <div class="titel"></div>
            <div class="titel1">
                <p class="personal_info">Personal Inpormation:</p>
                <input  placeholder="First Name" class="first_name">
                <input placeholder="Phon Number" class="phon_number">
                <input placeholder="Last Name" class="last_name">
                <input placeholder="ID Number" class="id_number">
                <input placeholder="Email Address" class="email_address">
                <input placeholder="Mobail Number" class="mobail_number">
                <input placeholder="DD/MM/YYY" class="date">
                <select name="gender">
                    <option>זכר</option>
                    <option>נקבה</option>
                </select>
            </div>
           
                <p class="address">Address:</p>
                <input placeholder="Apartment Number" class="apartment"> 
                <input placeholder="Street" class="street">   
                <input placeholder="Floor" class="floor">
                <input placeholder="House Number" class="house">
                <input placeholder="City" class="city">
                <input placeholder="Postal Code" class="postal">
           
           
                <p class="celphone_type">Celphone Type:</p>
                <input type="radio" class="radio_sms">
                <p class="sms">SMS</p>
                <input type="radio" class="radio_whatapp">
                <p class="whatapp">WhatApp</p>
                <input type="radio" class="radio_kosher">
                <p class="kosher">Kosher</p>


                <p class="shabat">Shabat Kiper:</p>
                <input type="radio" class="radio_yes">
                <p class="yes">Yes</p>
                <input type="radio" class="radio_no">
                <p class="no">No</p>


                <p class="languages">Languages:</p>
                <input type="checkbox" class="arabic">
                <p class="arabic">Arabic</p>
                <input type="checkbox" class="spanish">
                <p></p>

            
            
        </div>

    </div>
    <!-- מלבן לבן אמצעי -->
    <div class="div5"></div>
    <!-- מלבן לבן תחתון -->
    <div class="div6"></div>
    <!-- עיגול סגול -->
    <div class="bord"  ></div>
</div>
</body>

</html>
