<div class="header-img"></div>

<div class="section first-section">
    <h2 class="title">תחומי התנדבות</h2>
    <div class="row prograph">
        <div class="col-6">
            <h6>תחומים</h6>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected>רב</option>
                <option value="2">שלום בית</option>
                <option value="3">מורה הוראה</option>
            </select>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected>עורך דין</option>
                <option value="2">פלילי </option>
                <option value="3">אזרחי </option>
                <option value="4">אישי </option>
            </select>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected> רואה חשבון</option>
                <option value="2">מנהל חשבונות </option>
                <option value="3">יועץ משכנתאות </option>
                <option value="4">יעוץ מס' </option>
            </select>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected> חשמלאי </option>
                <option value="2">רכב</option>
                <option value="3">בית</option>               
            </select>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected> טלפנים </option>
                <option value="2">סקרים</option>
                <option value="3">התרמות</option>               
            </select>
            <input class="form-control" placeholder="חלוקת מים"/>
            <input class="form-control" placeholder="רווחה/עובדת סוציאלית"/>
            <input class="form-control" placeholder="קליטת תושבי חוץ "/>
            <input class="form-control" placeholder="פסיכולוגים "/>

        </div>
        
        <div class="col-6 second-col">
            <select class="form-select form-control" aria-label="Default select example">
                <option selected>טכנאי</option>
                <option value="2">מכונות כביסה</option>
                <option value="3">מייבשי כביסה</option>
                <option value="3">מקררים</option>
                <option value="3">תנורים</option>
                <option value="3">מדיחי כלים</option>
              </select>
            <select class="form-select form-control" aria-label="Default select example">
                <option selected>אינסטלטור</option>
                <option value="2">ברזים</option>
                <option value="3">כיורים</option>
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected>רכב</option>
                <option value="2">צמיגים</option>
                <option value="3">פחחות</option>
                <option value="4">כבלי התנעה</option>
                <option value="5">נעילה וחילוץ</option>
              </select>

            <select class="form-select form-control" aria-label="Default select example">
                <option selected>חינוך</option>
                <option value="2">חונך</option>
                <option value="3">מלווה</option>
                <option value="4">מתמטיקה</option>
                <option value="5">אנגלית</option>
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected> חינוך מיוחד</option>
                <option value="2">מסייע</option>
                <option value="3">קלינאות תקשורת</option>
                <option value="4">מרפא בעיסוק</option>
                <option value="5">פיזיותרפיה</option>
                <option value="5">ריפוי באומנות</option>
                <option value="5">ריפוי במוזיקה</option>
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected>חובשים</option>
                <option value="2">רגיל</option>
                <option value="3">בכיר</option> 
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected>סדרנים</option>
                <option value="2">כנסים</option>
                <option value="3">אירועים</option> 
                <option value="4">מסיבות</option>
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected>חלוקת תרופות</option>
                <option value="2">פיזור</option>
                <option value="3">איסוף</option> 
              </select>
              <select class="form-select form-control" aria-label="Default select example">
                <option selected>חלוקת מזון</option>
                <option value="2">פיזור</option>
                <option value="3">איסוף</option> 
              </select>
        </div>
    </div>
    <div class="button-wapper">
        <button type="button" class="btn btn-dark btn-perple btn-lg"> אישור</button>
    </div>
</div>