<div class="header-img"></div>
<form action="/action_page.php" #myForm="ngForm" (ngSubmit)="Link()" style="direction: rtl;">
  <div class="section first-section">
    <h2 class="title">תחומי התנדבות</h2>
    <div class="row prograph">
      <div class="col-6">
        <h6>תחומים</h6>
        <div *ngFor="let item of listDomain">

          <!-- <select class="form-select form-control" aria-label="Default select example">
            <option selected class="col-6">{{item.domain.description}}</option>
            <option *ngFor="let item1 of item.volunteerDomain" (click)="selectDomain(item1.code_volunteering)">
              {{item1.description}}</option> -->

            <select class="form-select form-control" (change)="selectDomain($event.target.value)"
              aria-label="Default select example">
              <option selected>{{item.domain.description}}</option>
              <option *ngFor="let item1 of item.volunteerDomain">{{item1.description}}</option>

            </select>
        </div>
      </div>
    </div>
    <div class="button-wapper">
      <button type="submit" class="btn btn-dark btn-perple btn-lg">אישור </button>
    </div>
  </div>
</form>